<html>
    <head>
        <meta name="author" content="Kh3m and David">
        <meta name="description" content="Auchi Polytechnic Student Sales">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Sales, Buy, Online, Communication">
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title> APSOS </title>
    