<html>
    <head>
        <meta name="author" content="Kh3m and David">
        <meta name="description" content="Auchi Polytechnic Student Sales">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Sales, Buy, Online, Communication">
        <link rel="icon" href="/images/favicon-lap.png">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <div id="top-header" class="row">

                <div id="logo" class="col-md-1">
                    <span>apsos</span>
                </div>

                <div id="search" class="col-md-8">
                    <i class="fa fa-search"></i>
                    <input type="search" name="search" placeholder="What are you looking for?">
                </div>

                <div id="user" class="col-md-2">
                    <a href="/user/signup"> Sign-Up </a>
                    <a href="/user/signin"> Sign-In </a>
                </div>

                <div id="cart" class="col-md-1">
                    <span> 12 </span>
                    <i class="fa fa-opencart"></i>
                </div>

            </div>

            <div id="bottom-header">
                <nav>
                    <ul>
                        <li class="dropdown-menu"><span> Electronics <i class="fa fa-angle-down"></i> </span></li>
                        <li class="dropdown-menu"><span> Fashion and Beauty <i class="fa fa-angle-down"></i></span></li>
                        <li class="dropdown-menu"><span> Services <i class="fa fa-angle-down"></i></span></li>
                        <li class="dropdown-menu"><span> Course Tutorials <i class="fa fa-angle-down"></i></span></li>
                        <li class="dropdown-menu"><span> Home Appliances <i class="fa fa-angle-down"></i></span></li>
                        <li class="dropdown-menu"><span> Hostel Rooms <i class="fa fa-angle-down"></i></span></li>
                    </ul>
                </nav>
            </div>
        </header>