
<header>
    <div id="top-header" class="row">

        <div id="logo" class="col-lg-1">
            <img src="/images/apsoslogo.png" alt="apsos logo">
        </div>

        <div id="search" class="col-md-9 col-lg-8">
            <i class="fa fa-search"></i>
            <input type="search" name="search" placeholder="What are you looking for?">
        </div>

        <div id="user" class="user col-lg-2">
            <a href="/user/signup"> Sign-Up </a>
            <a href="/user/signin"> Sign-In </a>
        </div>

        <div class="user col-md-3">
            <a href=""> <i class="fa fa-users"></i></a>
        </div>

        <div id="apolylogo" class="col-lg-1">
            <img src="/images/Apoly_logo.gif" alt="Auchi Poly Logo">
        </div>

    </div>

    <div id="bottom-header">
        <nav>
            <ul>
                <li class="dropdown-menu">
                    <span> Electronics <i class="fa fa-angle-down"></i> </span>
                    <ul class="dropdown-items">
                        <li> <a href="#">Speakers</a> </li>
                        <li> <a href="#">Speakers</a> </li>
                        <li> <a href="#">Speakers</a> </li>
                        <li> <a href="#">Speakers</a> </li>
                    </ul>
                </li>
                <li class="dropdown-menu">
                    <span> Fashion and Beauty <i class="fa fa-angle-down"></i></span>
                    <ul class="dropdown-items">
                        <li> <a href="#">Speakers</a> </li>
                        <li> <a href="#">Speakers</a> </li>
                        <li> <a href="#">Speakers</a> </li>
                        <li> <a href="#">Speakers</a> </li>
                    </ul>
                </li>
                <li class="dropdown-menu">
                    <span> Services <i class="fa fa-angle-down"></i></span>
                    <ul class="dropdown-items">
                        <li> <a href="#">Speakers</a> </li>
                        <li> <a href="#">Speakers</a> </li>
                        <li> <a href="#">Speakers</a> </li>
                        <li> <a href="#">Speakers</a> </li>
                    </ul>
                </li>
                <li class="dropdown-menu"><span> Course Tutorials <i class="fa fa-angle-down"></i></span></li>
                <li class="dropdown-menu"><span> Home Appliances <i class="fa fa-angle-down"></i></span></li>
                <li class="dropdown-menu"><span> Hostel Rooms <i class="fa fa-angle-down"></i></span></li>
            </ul>
        </nav>
    </div>
</header>