
section#banner {
    height: 400px;
    background-color: hsl(225, 97%, 61%);
    align-items: center;
    position: relative;
}

section#banner p {
    display: none;
}

section#banner div:first-child {
    color: #fff;
    padding: 16px;
}

section#banner div > h1 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section#banner img {
    /* background: red; */
    width: 100%;
}

section#banner #vm {
    padding: 10px 20px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    border: 2px solid hsl(51, 100%, 27%);
    transition: 0.2s;
    position: absolute;
    bottom: 5%;
}

section#banner #vm:hover {
    background-color: hsl(51, 100%, 27%);
    border-radius: 5px;
}

section#category-container {
    margin: 100px auto;
    width: 100%;
}

section#category-container .category div:first-child {
    position: relative;
}

section#category-container .category h3 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: -60%;
}

section#category-container .category h3 span {
    background-color: #eee;
    display: inline-block;
    padding: 0px 50px;
}

div.grid-container {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

div.grid-container div.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #fff;
}

div.grid-container div.grid-item .fa {
    color: hsl(51, 100%, 27%);
}

/* Element on hover */

div.grid-item {
    position: relative;
}

div.grid-item:hover div.grid-item-child {
    opacity: 0.95;
}

div.grid-item div.grid-item-child {
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

div.grid-item div.grid-item-child div.heart {
    text-align: right;
    padding: 16px;
}

div.grid-item div.grid-item-child a span {
    font-size: 30px;
}

div.grid-item div.grid-item-child div.vp a {
    display: block;
    padding: 10px 20px;
    background-color: hsl(51, 100%, 27%);
    border-radius: 5px;
    color: #fff;
}

div.grid-item div.grid-item-child div.vp {
    padding: 30px;
    opacity: 1;
}

@media screen and (min-width: 600px) {
    .col-lg-1 { width: 8.333333333333333%; }
    .col-lg-2 { width: 16.66666666666667%; }
    .col-lg-3 { width: 25%; }
    .col-lg-4 { width: 33.33333333333333%; }
    .col-lg-5 { width: 41.66666666666667%; }
    .col-lg-6 { width: 50%; }
    .col-lg-7 { width: 58.33333333333333%; }
    .col-lg-8 { width: 66.66666666666666%; }
    .col-lg-9 { width: 75%; }
    .col-lg-10 { width: 83.33333333333333%; }
    .col-lg-11 { width: 91.66666666666666%; }
    .col-lg-12 { width: 100%; }
    
    section#banner {
        height: 500px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 16px 130px;
    }

    section#banner p {
        display: block;
    }
    
    section#banner #vm {
        position: static;
    }

    section#category-container {
        width: 70%;
    }

    section#category-container .category h3 span {
        padding: 0px 100px;
    }

    div.grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.grid-item div.grid-item-child div.vp {
        padding: 150px 30px;
    }
}