<% include ../partials/head %>
    <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
    <% include ../partials/header %>
    <main>
        <section id="banner">
            <div>
                <h1>
                    MacBook Pro...
                </h1>
                    
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ex 
                    illum at similique, soluta dolor quia. Sapiente, illum! Nesciunt 
                    quas harum doloribus quod distinctio similique consequuntur 
                    voluptatum provident, deleniti nostrum!
                </p>

                <a href="#" id="vm"> View Item </a>
            </div>
            
            <img src="images/laptop.png" alt="laptop mackbook pro">
        </section>

        <section id="category-container">

            <div class="category">
                <div>
                    <hr style="border: 1px solid #333; border-radius: 5px;">
                    <h3> <span> Electronics </span> </h3>
                </div>

                <div class="grid-container">
                    <div class="grid-item">
                        <img src="/images/panel.png" alt="laptop">

                        <div class="desc">
                            <p>Macbook Pro</p>
                            <div class="stars">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="grid-item-child">
                            <div class="heart">
                                <a href=""><span class="fa fa-heart-o"></span></a>
                            </div>

                            <div class="vp">
                                <p> $120 </p>
                                <a href=""> View Item </a>
                            </div>
                            
                        </div>
                    </div>

                    <div class="grid-item">
                            <img src="/images/watch.png" alt="laptop">
    
                            <div class="desc">
                                <p>Macbook Pro</p>
                                <div class="stars">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>

                            <div class="grid-item-child">
                                <div class="heart">
                                    <a href=""><span class="fa fa-heart-o"></span></a>
                                </div>

                                <div class="vp">
                                    <p> $120 </p>
                                    <a href=""> View Item </a>
                                </div>
                            </div>
                        </div>

                        <div class="grid-item">
                        <img src="/images/laptop.png" alt="laptop">

                        <div class="desc">
                            <p>Macbook Pro</p>
                            <div class="stars">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>

                        <div class="grid-item-child">
                            <div class="heart">
                                <a href=""><span class="fa fa-heart-o"></span></a>
                            </div>

                            <div class="vp">
                                <p> $120 </p>
                                <a href=""> View Item </a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-item">
                        <img src="/images/asus.png" alt="laptop">

                        <div class="desc">
                            <p>Macbook Pro</p>
                            <div class="stars">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="grid-item-child">
                            <div class="heart">
                                <a href=""><span class="fa fa-heart-o"></span></a>
                            </div>

                            <div class="vp">
                                <p> $120 </p>
                                <a href=""> View Item </a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-item">
                        <img src="/images/laptop.png" alt="laptop">

                        <div class="desc">
                            <p>Macbook Pro</p>
                            <div class="stars">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="grid-item-child">
                            <div class="heart">
                                <a href=""><span class="fa fa-heart-o"></span></a>
                            </div>

                            <div class="vp">
                                <p> $120 </p>
                                <a href=""> View Item </a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-item">
                        <img src="/images/fedex.jpg" alt="laptop">

                        <div class="desc">
                            <p>Macbook Pro</p>
                            <div class="stars">
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="grid-item-child">
                            <div class="heart">
                                <a href=""><span class="fa fa-heart-o"></span></a>
                            </div>

                            <div class="vp">
                                <p> $120 </p>
                                <a href=""> View Item </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="category">
                <div>
                    <hr style="border: 1px solid #333; border-radius: 5px;">
                    <h3> <span> Electronics </span> </h3>
                </div>

                <div class="grid-container">
                    <div class="grid-item">
                        <img src="/images/panel.png" alt="laptop">

                        <div class="desc">
                            <p>Macbook Pro</p>
                            <div class="stars">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="grid-item-child">
                            <div class="heart">
                                <a href=""><span class="fa fa-heart-o"></span></a>
                            </div>

                            <div class="vp">
                                <p> $120 </p>
                                <a href=""> View Item </a>
                            </div>
                            
                        </div>
                    </div>

                    <div class="grid-item">
                            <img src="/images/watch.png" alt="laptop">
    
                            <div class="desc">
                                <p>Macbook Pro</p>
                                <div class="stars">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                </div>
                            </div>

                            <div class="grid-item-child">
                                <div class="heart">
                                    <a href=""><span class="fa fa-heart-o"></span></a>
                                </div>

                                <div class="vp">
                                    <p> $120 </p>
                                    <a href=""> View Item </a>
                                </div>
                            </div>
                        </div>

                        <div class="grid-item">
                        <img src="/images/laptop.png" alt="laptop">

                        <div class="desc">
                            <p>Macbook Pro</p>
                            <div class="stars">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                        </div>

                        <div class="grid-item-child">
                            <div class="heart">
                                <a href=""><span class="fa fa-heart-o"></span></a>
                            </div>

                            <div class="vp">
                                <p> $120 </p>
                                <a href=""> View Item </a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-item">
                        <img src="/images/asus.png" alt="laptop">

                        <div class="desc">
                            <p>Macbook Pro</p>
                            <div class="stars">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="grid-item-child">
                            <div class="heart">
                                <a href=""><span class="fa fa-heart-o"></span></a>
                            </div>

                            <div class="vp">
                                <p> $120 </p>
                                <a href=""> View Item </a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-item">
                        <img src="/images/laptop.png" alt="laptop">

                        <div class="desc">
                            <p>Macbook Pro</p>
                            <div class="stars">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="grid-item-child">
                            <div class="heart">
                                <a href=""><span class="fa fa-heart-o"></span></a>
                            </div>

                            <div class="vp">
                                <p> $120 </p>
                                <a href=""> View Item </a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-item">
                        <img src="/images/fedex.jpg" alt="laptop">

                        <div class="desc">
                            <p>Macbook Pro</p>
                            <div class="stars">
                                <span class="fa fa-star-half-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                            </div>
                        </div>

                        <div class="grid-item-child">
                            <div class="heart">
                                <a href=""><span class="fa fa-heart-o"></span></a>
                            </div>

                            <div class="vp">
                                <p> $120 </p>
                                <a href=""> View Item </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <% include ../partials/sell %>
    </main>
<% include ../partials/footer %>
<% include ../partials/foot %>